@model Aveva.Models.Models.FooterViewModel

<div class="wrap clearfix">
    <p style="width:100%;">
        <span class="left">@Model.copyright, </span>
        <span class="left">&nbsp;</span>
        <span class="left">@Model.adress @Model.phone @Model.registration</span>
        <a class="worldwide" title="Worldwide Offices information" href="/en/Contact/Worldwide_Offices.aspx">@Model.worldwideOffices</a>
    </p>
</div>